<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\Console\CommandList">
       <arguments>
           <argument name="commands" xsi:type="array">
               <item name="importCategories" xsi:type="object">Seizera\MageSync\Console\ImportCategories</item>
           </argument>
           <argument name="commands" xsi:type="array">
               <item name="importProducts" xsi:type="object">Seizera\MageSync\Console\ImportProducts</item>
           </argument>
       </arguments>
   </type>
</config>