<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="seizera" translate="label" sortOrder="10">
            <label>Seizera</label>
        </tab>
        <section id="MageSync" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sync Configuration</label>
            <tab>seizera</tab>
            <resource>Seizera_MageSync::maincredentials_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Credentials Configuration</label>
                <field id="main_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Main Magento instance url</label>
                    <comment>Enter main Magento instance url</comment>
                </field>
                <field id="user_email" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Email</label>
                    <comment>Enter your user email in main Magento instance.</comment>
                </field>
                <field id="main_username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Main Magento instance username</label>
                    <comment>Enter main Magento instance admin username, make sure an integration is created for this user</comment>
                </field>
                <field id="main_password" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Main Magento instance password</label>
                    <comment>Enter main Magento instance admin password.</comment>
                </field>
            </group>

            <group id="cron_sync" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Sync Cron Configuration</label>
                <field id="cron_config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter Cron Config</label>
                    <comment>Cron Config</comment>
                </field>
                <field id="is_sync_active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                       <label>Enabled</label>
                       <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>